config.py
venv/
.env
*.csv
*.xlsx
*.xls
*.svg
*.bin
*.json
*.sqlite3
*.db
*.sqlite3-journal
*.faiss
*.o
*.pyc
*.pyo
*.pyd
node_modules/
node_modules
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
test.py
.DS_Store
yala.py
yala.yml
speech.mp3
path/
__pycache__
openlit/
mlruns/
test_*.txt