# Ignore text editor configuration files
*.vscode/

# Ignore compiled files and build artifacts
*.o
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore version control directories
.git/
.gitignore

# Ignore dependency directories
node_modules/
venv/
.env/